@{
    Layout = "_Login";
}
@model Web.Models.LoginVM
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-danger">
        <div class="card-header text-center">
            <a href="/" class="h1">
                <a href="/" class="brand-link">
                    <img style="max-width: 150px;" src="/dist/img/logo.png" class="img-fluid">
                </a>
            </a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Oturum açabilmeniz için giriş yapın..</p>

            <form asp-controller="login" asp-action="index" method="post">
                <div class="input-group mb-3">
                    <input asp-for="@Model.email" type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="@Model.password" type="password" class="form-control" placeholder="Şifre">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col">
                        <button type="submit" class="btn btn-danger btn-block">Giriş</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>