<div class="card">
    <div class="card-body">
        <div style="overflow-x:auto;" class="scrolling-wrapper row flex-row flex-nowrap">
            <a asp-controller="service" asp-action="index" asp-route-overtimeId="1" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>16:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <a asp-controller="service" asp-action="index" asp-route-overtimeId="2" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>18:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
            <a asp-controller="service" asp-action="index" asp-route-overtimeId="3" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>20:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <a asp-controller="service" asp-action="index" asp-route-overtimeId="4" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>22:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <a asp-controller="service" asp-action="index" asp-route-overtimeId="5" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>24:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>

            <a asp-controller="service" asp-action="index" asp-route-overtimeId="6" class="col-md-2 col-sm-6 col-12">
                <div>
                    <div class="info-box bg-secondary shadow-sm">
                        <span class="info-box-icon bg-dark"><i class="fa-solid fa-bus fa-fade"></i></span>

                        <div class="info-box-content text-center">
                            <span class="info-box-number"><h5><strong>08:00</strong></h5></span>
                            <span class="info-box-text">Çıkış Grubu</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </a>
        </div>
    </div>
</div>